<form action="/stylists/:id" method="post">
	<div class="form-group">
		<label for="client_name">Client's Name</label>
		<input name="client_name" id="client_name" class="form-control" type="text">
	</div>
	<button class="btn-success" type="submit">Add</button>
</form>